# Supplier Management Backend - Environment Variables

# Application
SECRET_KEY=your-secret-key-change-in-production
JWT_ALGORITHM=


# Database
DATABASE_URL=postgresql://user:password@localhost:5432/supplier_db

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://your-production-frontend.com


# Email
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=25
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-email-password


AZURE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=youraccountname;AccountKey=youraccountkey;EndpointSuffix=core.windows.net
AZURE_CONTAINER_NAME=your-container-name
